@import url("vars.less");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: @primary-color;
  text-decoration: none;
  cursor: pointer;
  transition: color .2s ease;
  &:hover {
    color: lighten(@primary-color, 15%);
  }
}

body {
  font-size: 12px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  color: #495060;
  background-color: #fff;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

// 淡入淡出动画
.ui-fade-enter-active, .ui-fade-leave-active {
  transition: opacity .22s;
}

.ui-fade-enter, .ui-fade-leave-to {
  opacity: 0;
}

// 下拉动画
.ui-dropdown-enter-active, .ui-dropdown-leave-active {
  transform-origin: 0 0;
  transition: opacity .22s ease-out, transform .22s ease-out;
}

.ui-dropdown-enter, .ui-dropdown-leave-to {
  opacity: 0;
  transform: scaleY(0);
}

// 模态框动画
.ui-modal-enter-active {
  transition: transform .3s cubic-bezier(0.465, 0.183, 0.153, 0.946),
    opacity .3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.ui-modal-leave-active {
  transition: transform .1s cubic-bezier(0.465, 0.183, 0.153, 0.946),
  opacity .1s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.ui-modal-enter, .ui-modal-leave-to {
  opacity: 0;
  transform: scale(1.15);
}

// 加载中动画
@keyframes ani-load-loop {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

// 进度条动画
@keyframes ui-progress-animate-x {
  0% {
    opacity: .3;
    transform: scaleX(0);
  }

  100% {
    opacity: 0;
    transform: scaleX(1);
  }
}

@keyframes ui-progress-animate-y {
  0% {
    opacity: .3;
    transform: scaleY(0);
  }

  100% {
    opacity: 0;
    transform: scaleY(1);
  }
}